/* Mobile */

@media screen and (min-width: 40rem) {

  header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card:nth-child(2) {
    margin-top: 1rem;
  }
}

/* Mobile */


/* Tablet */

@media screen and (min-width: 48rem) {

  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img, header nav, header.btn{
    margin: 0;
  }
}

/* Tablet */


/* DeskTop */

@media screen and (min-width: 72rem) {

  h1,h2 {
    font-size: 4rem;
  }
  
  .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 72rem;
  }

  .container.row-reverse {
    flex-direction: row-reverse;
  }

  .about-column {
    flex: 2;
  }
  
  .about-column p {
    font-size: 1.25rem;
    max-width: 16rem;
  }

  footer nav {
    flex: 1;
  }

  form {
    flex: 3;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

/* DeskTop */